.accordion {
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #313131;
    color:white;
  }
  
  .accordion-title:hover {
    background-color: #414141;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
.accordion-content{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background: #525252;
}